.profile {
    text-align: center;
    display: flex;
    align-items: center;
    flex-direction: column;
    flex-wrap: wrap;
    display: flex;

}

.profile h3 {
    width: 100%;

}




.button {
    display: flex;
    justify-content: center;
    width: 20%;
    background-color: rgba(180, 39, 39, 0.623);
    padding: 15px;
    border-radius: 5px;
    margin: 20px;


}

.h5 {
    text-decoration: none;
}

.contenedor_fav {
    align-items: center;
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
    width: 100%;
}

.strDrink {
    width: 300px;
}

.cardContent {
    align-items: center;
    background-color: #d4502f;
    display: flex;
    gap: 10px;
    font-size: 16px;
    color: #cf2727;
    text-shadow: rgb(17, 9, 9) 0.1em 0.1em 0.2em;
    justify-content: space-evenly;
}

.strImg {
    width: 100px;
    height: 100px;
    object-fit: cover;
}

.strImg:hover {
    
    transform: scale(1.1);
    /* Escala el elemento al 110% del tamaño original */
    border: 2px solid #d4502f;
    /* Agrega un borde de color azul */
}

.titleContainer {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: transparent;
    font-size: 15px;
    margin-bottom: 10px;
    padding: 10px;
    color: #dabebe;
}

.title-fav {
    font-size: 16px;
    color: #271010;

}



@keyframes fadeIn {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

.strImg {
    height: 70%;
    border-radius: 50%;
    box-shadow: 5px 2px 5px rgb(211, 30, 30);
}

.strDrink Img {
    width: 100px;
}

@media(max-width:426px) {
    .strDrink {
        width: 18rem;
    }

    .button {
        width: 100%;
    }
}